body{
    background-color:#cdf4c8;
    margin: 0;
}

.logoPic{
    height: 80px;
    width: 80px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid white;
}

.navBar{
    height: 90px;
    width: 100%;
    background-color: rgb(1, 86, 58);
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 0 1rem;
    font-family: didot, serif;
    font-size: 18px;
}

.navBar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navBar a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.navBar li:hover {
    background-color: rgb(1, 170, 114);
    border-radius: 30%;
    border: 2px solid rgb(0, 112, 74);
}

.logOut {
    height: 75px;
    margin-top: 8px;
    background-color: rgb(179, 254, 229);
    border: 3px solid rgb(1, 49, 33);
    color: rgb(1, 49, 33);
    font-size: 20px;
    font-family: didot, serif;
}

.navBar button:hover{
    border: 3px solid rgb(1, 196, 128);
    font-size: 22px;
}