:root{
    --primary: #00704A;
    --secondary: #eac784;
    --sizer:16px;
}

.poop:hover {
    transform: scale(1.05);
}

.poop {
    transition: transform 0.2s ease;
}

.table{
    background-color: var(--secondary);
}
.btn1{
    font-size: 16px;
    padding: 8px 12px;
    margin-bottom: 0;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    background-color: var(--primary);
    color: var(--secondary);
}
.btn1:hover{
    color: white;
}

.login-form-cont {
    width: 100%;
    max-width: 450px;
    padding: 50px;
    border-radius: 10px;

    padding-top: 100px;
    margin: auto;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0.05);
    margin-bottom: -20vh;
    h3 {
        font-weight: 500;
        margin-bottom: 50px
    }
}

.login-form {
    margin: 20px;
    padding: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    height: 80vh;
    background-color: #FFFFFF;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #00704A;

}

.popup-inner .continue-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;

}

.icon-nav {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    object-fit: cover;
    object-position: 100% 0;
}

.poop-2:hover {
    transform: scale(1.40);
}

.poop-2 {
    transition: transform 0.2s ease;
}

.icon-labels {
    background-color:var(--secondary);
    border-radius: 40px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;

}

.icon-sm {
    width: 2rem;
    height: 2rem;



}

.input-group {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 20px;

}


.icon-nav {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    object-fit: cover;
    object-position: 100% 0;


}

.poop-2:hover {
    transform: scale(1.40);
}

.poop-2 {
    transition: transform 0.2s ease;
}

.icon-labels {
    background-color: #eac784;
    border-radius: 40px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;

}

.icon-sm {
    width: 2rem;
    height: 2rem;
}

.input-group {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 20px;
}

.header {
    text-align: center;
}

/*google translate Dropdown */
.goog-te-gadget-simple {
    border-radius: 15px;
    font-size: 20px !important;
    margin:0;
    padding:0;
}

main{
    padding-bottom:10rem;
}

//server design and laout
.serverNavBar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: fixed;
    top: 175px;
    left: 0px;
    width: 15%;
    height: 70%;
    overflow-y: scroll;
    background-color: #00704A;
    background-color: var(--primary);
}

.serverNavBar h2 {
    width: 15vw;
    font-size: 28px;
    margin-top: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.serverNavBar button{
    text-transform: uppercase;
    color: white;
    background-color: --primary;
    text-align: center;
    position: relative;
    left: -32px;
    width: 15vw;
    list-style: none;
    margin-top: 10px;
    padding: 22px;
    border-bottom: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-right: 1px solid rgba(0,0,0,0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.serverNavBar button:hover{
    font-size: 17px;
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
    border-top: 1px solid  var(--secondary);
}

.navbarArea{
    color: rgba(0,0,0,0);
    float: left;
    width: 12%;
    position: sticky;
}

.menuItems{
    width: 53%;
    float: left;
}

.menuItems button {
    height: 5.5vw;
    width: 14vw;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.orderSummary{
    float: left;
    position: sticky;
    width: 34%;
}

.orderSummary table{
    overflow-x: scroll;
    overflow-y:scroll;
    display:block;
    height: 300px;
    width: 100%;
}

.orderSummary thead, td {
    text-align: center;
}

.orderSummary #customerName {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.submitButton {
    float: left;
    margin-bottom: 30px;
    margin-left: 30px;
}

.cancelButton {
    float: right;
    margin-bottom: 30px;
    margin-right: 30px;
}

.footerImage{
    margin-right: 5px;
    margin-left:5px;
    height:5vh;
    width:5vh;
}

.dropdown-menu{
    --bs-dropdown-link-active-bg: #FFF !important;
}

.textSide {
	float: left;
	width: 40%;
}

.buttonGeoLocate {
  background: #00704A;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

@import "~bootstrap/scss/bootstrap"